body {
    min-width: 1200px;
    min-height: 600px;
    max-width: 1500px;
    max-height: 800px;
    overflow: scroll;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    /*position: absolute;*/
    /*z-index: -1;*/
}

#footer, .clear{
    position: relative;
    top: 600px;
}

#logo {
    text-align: center;
}

#content {
    padding: 5px;
    position: absolute;
    /*z-index: -1;*/
}

table {
    border-collapse: collapse;
    margin: 2px auto 10px auto;
}

.cell {
    cursor: pointer;
    border: solid #000000 3px;
    text-align: center;
    font-size: 43px;
}

.coords {
    text-align: center;
}

td {
    width: 50px;
    height: 50px;
}

.coords,.number {
    background-image: url("../images/border.jpg");
    background-repeat: repeat;
}

.coords td {
    height: 20px;
}

.number {
    width: 20px;
    text-indent: 5px;
}

.rows:nth-child(2n+1) .cell:nth-child(2n+1), .rows:nth-child(2n) .cell:nth-child(2n) {
    background-color: white;
}

.rows:nth-child(2n+1) .cell:nth-child(2n), .rows:nth-child(2n) .cell:nth-child(2n+1)  {
    background-color: grey;
}

#white_box div, #black_box div{
    height: 49px;
    width: 39px;
}

#white_box, #black_box {
    cursor: pointer;
    border: solid #000000 1px;
    width: 78px;
    height: 390px;
    margin: 50px;
}

#white_box {
    font-size: 43px;
    margin-left: 250px;
    background-image: url("../images/border.jpg");
    background-repeat: repeat;
    float: left;
}

#black_box {
    font-size: 43px;
    margin-right: 250px;
    background-image: url("../images/border.jpg");
    background-repeat: repeat;
    float: right;
}

#right {
    float: right;
}
#left {
    float: left;
}

#init {
    margin: 0 auto;
    width: 150px;
    display: none;
}

#panel {
    left: 12%;
    position: relative;
    background: #754c24;
    padding-top: 10px;
    height: 60px;
    width: 1000px;
    display: none;
}

.slide {
    top: -16px;
    left: 12%;
    position: relative;
    padding: 0;
    width: 1000px;
    height: 37px;
    border-top: solid 4px #422410;
    background: url(../images/btn-slide.gif) no-repeat center top;
    /*background-image: url(/images/btn-slide.gif);*/
    /*background-position-x: 50%;*/
    /*background-position-y: 0%;*/
    /*background-size: initial;*/
    /*background-repeat-x: no-repeat;*/
    /*background-repeat-y: no-repeat;*/
    /*background-attachment: initial;*/
    /*background-origin: initial;*/
    /*background-clip: initial;*/
    /*background-color: initial;*/
}
.btn-slide {
    background: url(../images/white-arrow.gif) no-repeat right -50px;
    /*background-image: url(../images/white-arrow.gif);*/
    /*background-position-x: 100%;*/
    /*background-position-y: -50px;*/
    /*background-size: initial;*/
    /*background-repeat-x: no-repeat;*/
    /*background-repeat-y: no-repeat;*/
    /*background-attachment: initial;*/
    /*background-origin: initial;*/
    /*background-clip: initial;*/
    /*background-color: initial;*/
    text-align: center;
    width: 144px;
    height: 31px;
    padding: 10px 10px 0 0;
    margin: 0 auto;
    display: block;
    font: bold 120%/100% Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
}
.active {
    background-position: right 12px;
    /*background-position-x: 100%;*/
    /*background-position-y: 12px;*/
}
#messages, #time {
    width: 487px;
    /*height: 40px;*/
    text-align: center;
    background-color: white;
    margin: 0 auto;
}